doctype

html(lang="es")
	head
		title ProjectView
		meta(charset="UTF-8")
		meta(name="author" content="Byron Bustamante López")
		meta(name="keywords" content="web, development, developer, design")
		meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
		link(rel='stylesheet', type='text/css', href='estilos/index.css')
		link(rel="stylesheet" href="estilos/icons/css/fontello.css")
		link(rel="icon" href="img/logo.png")

	body
		header#header
			.parallax
				.grupo.logo-menu
					.caja
						h1.titulo ProjectView
					.caja.menu__caja
						input#boton-menu.menu__boton(type="checkbox")
						label.menu__boton__label(for="boton-menu")
							i.menu__boton__icono.icon-menu
								
						nav.menu
							ul.menu__contenedor
								li.menu__item
									a.menu__link(href="#") Inicio
								li.menu__item
									a.menu__link(href="#") Servicios
								li.menu__item
									a.menu__link(href="#") Nosotros
								li.menu__item
									a.menu__link(href="#") Precios
								li.menu__item
									a.menu__link(href="#") Contacto

				.grupo.principal__grupo
					.caja.principal__caja
						.principal
							.principal__logo.movil-40.pc-15
								img.principal__logo__img(src="img/logo.png")
							.principal__subtitulo__contenedor
								h2.principal__subtitulo.glitched Diseño y Desarrollo Web
								.glitch-window
									h2.principal__subtitulo.glitched Diseño y Desarrollo Web
							.principal__botones
								button.principal__botones__boton Saber más
								button.principal__botones__boton  Contacto

		section#servicios
			.grupo.parallax
				.caja
					h2.section-title Servicios

				.caja
					.servicio.apartado
						i.servicio__icon.icon-clock
						h3.servicio__title Ahorra tiempo
						p.servicio__description
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							| quis nostrud exercitation

				.caja
					.servicio.apartado
						i.servicio__icon.icon-cog-alt
						h3.servicio__title Personalizable
						p.servicio__description
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							| quis nostrud exercitation

				.caja
					.servicio.apartado
						i.servicio__icon.icon-mobile
						h3.servicio__title Mobile friendly
						p.servicio__description
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							| quis nostrud exercitation

				.caja
					.servicio.apartado
						i.servicio__icon.icon-chart-line
						h3.servicio__title Escalable
						p.servicio__description
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							| quis nostrud exercitation
		
		section#galeria
			.grupo
				.caja.galeria
					h2.section-title Galería
					.galeria__contenedor
						.galeria__img
							img(src="img/gallery/bg1.jpg")
						.galeria__img
							img(src="img/gallery/bg1.jpg")
						.galeria__img
							img(src="img/gallery/bg1.jpg")
						.galeria__img
							img(src="img/gallery/bg1.jpg")
						.galeria__img
							img(src="img/gallery/bg1.jpg")
						.galeria__img
							img(src="img/gallery/bg1.jpg")
						.galeria__img
							img(src="img/gallery/bg4.jpg")
						.galeria__img
							img(src="img/gallery/bg4.jpg")
						.galeria__img
							img(src="img/gallery/bg4.jpg")
						.galeria__img
							img(src="img/gallery/bg4.jpg")
						.galeria__img
							img(src="img/gallery/bg4.jpg")
						.galeria__img
							img(src="img/gallery/bg4.jpg")

		section#conocenos
			.grupo
				.caja
					.caracteristica__img
						img(src="img/phone-propio.png")

				.caja.nosotros
					h3.section-title Conócenos un poco más

					.caracteristica.apartado
						i.caracteristica__icon.icon-plus
						span.caracteristica__title Quienes somos
						p.caracteristica__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis tempore, ad. Vitae pariatur impedit inventore.

					.caracteristica.apartado
						i.caracteristica__icon.icon-plus
						span.caracteristica__title Cuales son nuestros valores
						p.caracteristica__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis tempore, ad. Vitae pariatur impedit inventore.

					.caracteristica.apartado
						i.caracteristica__icon.icon-plus
						span.caracteristica__title Cual es nuestra filosofía
						p.caracteristica__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis tempore, ad. Vitae pariatur impedit inventore.

					.caracteristica.apartado
						i.caracteristica__icon.icon-plus
						span.caracteristica__title Cuales son nuestros objetivos
						p.caracteristica__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis tempore, ad. Vitae pariatur impedit inventore.

			.grupo
				.caja.mision
					h3.section-title Enfocados en crecer tu marca 
					h5.section-subtitle Creamos increíbles páginas web para tu empresa

					.caracteristica.apartado
						i.caracteristica__icon.icon-ok-circled
						span.caracteristica__description Solamente una característica

					.caracteristica.apartado
						i.caracteristica__icon.icon-ok-circled
						span.caracteristica__description Solamente una característica

					.caracteristica.apartado
						i.caracteristica__icon.icon-ok-circled
						span.caracteristica__description Solamente una característica

					.caracteristica.apartado
						i.caracteristica__icon.icon-ok-circled
						span.caracteristica__description Solamente una característica


				.caja
					.caracteristica__img
						img(src="img/pc-propio.png")

		section#precios
			.grupo
				.caja
					h3.section-title Nuestros planes
					h5.section-subtitle Grandes productos a precios adaptados a ti

				.caja.precio
					h4.precio__title Basic
					.precio__cantidad 25

					.precio__caracteristicas
						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 10GB SSD

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description SSL 1 Dominio

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 3 Temas

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 3 Dominios

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 20 Emails

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description Soporte Prioridad 3

						a.precio__boton(href="#") Comprar

				.caja.precio
					h4.precio__title Standard
					.precio__cantidad 50

					.precio__caracteristicas
						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 50GB SSD

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description SSL 3 Dominios

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 5 Temas

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 5 Dominios

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 40 Emails

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description Soporte Prioridad 2

						a.precio__boton(href="#") Comprar

				.caja.precio
					h4.precio__title Premium
					.precio__cantidad 100

					.precio__caracteristicas
						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description Espacio Ilimitado

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description SSL Ilimitado

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 10 Temas

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 10 Dominios

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description Emails Ilimitadas

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description Soporte Prioridad 1

						a.precio__boton(href="#") Comprar

		<!-- Hacer el apartado de "Nuestro equipo" si da tiempo -->

		section#formulario
			.grupo
				.caja
					h3.section-title Envíanos tus sugerencias
					.formulario Aquí va el formulario

		footer#footer
			.grupo
				.caja
					p.creditos ProyectView &copy; 2019 | Privacy Policy

				.caja
					.sociales
						a.sociales__item.icon-facebook-circled(href='#')
						a.sociales__item.icon-twitter-circled(href='#')
						a.sociales__item.icon-linkedin-circled(href='#')