doctype

html(lang="es")
	head
		title ProjectView
		meta(charset="UTF-8")
		meta(name="author" content="Byron Bustamante López")
		meta(name="keywords" content="web, development, developer, design")
		meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
		link(rel='stylesheet', type='text/css', href='estilos/index.css')
		link(rel="stylesheet" href="estilos/icons/css/fontello.css")
		link(rel="icon" href="img/logo.png")

	body
		header#header
			.parallax
				.grupo.logo-menu
					.caja.titulo
						h1 ProjectView
					.caja.menu__caja
						input#boton-menu.menu__boton(type="checkbox")
						label.menu__boton__label(for="boton-menu")
							i.menu__boton__icono.icon-menu
								
						nav.menu
							ul.menu__contenedor
								li.menu__item
									a.menu__link(href="#") Inicio
								li.menu__item
									a.menu__link(href="#") Servicios
								li.menu__item
									a.menu__link(href="#") Nosotros
								li.menu__item
									a.menu__link(href="#") Precios
								li.menu__item
									a.menu__link(href="#") Contacto

				.grupo.principal__grupo
					.caja.principal__caja
						.principal
							.principal__logo
								img.principal__logo__img(src="img/logo.png", alt="logo")
							.principal__subtitulo__contenedor
								h2.principal__subtitulo.glitched Diseño y Desarrollo Web
								.glitch-window
									h2.principal__subtitulo.glitched Diseño y Desarrollo Web
							.principal__botones
								button.principal__botones__boton.boton Saber más
								button.principal__botones__boton.boton  Contacto

		section#servicios
			.grupo.parallax
				.caja
					h2.section-title Servicios
				.row
					.col-1-of-4.caja
						.servicio.apartado
							i.servicio__icon.icon-clock
							h3.servicio__title Ahorra tiempo
							p.servicio__description
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								| quis nostrud exercitation

					.col-1-of-4.caja
						.servicio.apartado
							i.servicio__icon.icon-cog-alt
							h3.servicio__title Personalizable
							p.servicio__description
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								| quis nostrud exercitation

					.col-1-of-4.caja
						.servicio.apartado
							i.servicio__icon.icon-mobile
							h3.servicio__title Mobile friendly
							p.servicio__description
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								| quis nostrud exercitation

					.col-1-of-4.caja
						.servicio.apartado
							i.servicio__icon.icon-chart-line
							h3.servicio__title Escalable
							p.servicio__description
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								| quis nostrud exercitation
		
		section#galeria
			.grupo
				.caja.galeria
					h2.section-title Galería
					.galeria__contenedor
						.galeria__img
							img(src="img/gallery/bg1.jpg", alt="imagen")
						.galeria__img
							img(src="img/gallery/bg1.jpg", alt="imagen")
						.galeria__img
							img(src="img/gallery/bg1.jpg", alt="imagen")
						.galeria__img
							img(src="img/gallery/bg1.jpg", alt="imagen")
						.galeria__img
							img(src="img/gallery/bg1.jpg", alt="imagen")
						.galeria__img
							img(src="img/gallery/bg1.jpg", alt="imagen")
						.galeria__img
							img(src="img/gallery/bg4.jpg", alt="imagen")
						.galeria__img
							img(src="img/gallery/bg4.jpg", alt="imagen")
						.galeria__img
							img(src="img/gallery/bg4.jpg", alt="imagen")
						.galeria__img
							img(src="img/gallery/bg4.jpg", alt="imagen")
						.galeria__img
							img(src="img/gallery/bg4.jpg", alt="imagen")
						.galeria__img
							img(src="img/gallery/bg4.jpg", alt="imagen")

		section#conocenos
			.grupo.row
				.col-1-of-2.caja1
					.caracteristica__img
						img(src="img/phone-propio.png", alt="movil")

				.col-1-of-2.caja2.nosotros
					h3.section-title Conócenos un poco más

					.caracteristica.apartado
						i.caracteristica__icon.icon-plus
						span.caracteristica__title Quienes somos
						p.caracteristica__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis tempore, ad. Vitae pariatur impedit inventore.

					.caracteristica.apartado
						i.caracteristica__icon.icon-plus
						span.caracteristica__title Cuales son nuestros valores
						p.caracteristica__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis tempore, ad. Vitae pariatur impedit inventore.

					.caracteristica.apartado
						i.caracteristica__icon.icon-plus
						span.caracteristica__title Cual es nuestra filosofía
						p.caracteristica__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis tempore, ad. Vitae pariatur impedit inventore.

					.caracteristica.apartado
						i.caracteristica__icon.icon-plus
						span.caracteristica__title Cuales son nuestros objetivos
						p.caracteristica__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis tempore, ad. Vitae pariatur impedit inventore.

			.grupo.row
				.col-1-of-2.caja2.mision
					h3.section-title Enfocados en crecer tu marca 
					h5.section-subtitle Creamos increíbles páginas web para tu empresa

					.caracteristica.apartado
						i.caracteristica__icon.icon-ok-circled
						span.caracteristica__description Solamente una característica

					.caracteristica.apartado
						i.caracteristica__icon.icon-ok-circled
						span.caracteristica__description Solamente una característica

					.caracteristica.apartado
						i.caracteristica__icon.icon-ok-circled
						span.caracteristica__description Solamente una característica

					.caracteristica.apartado
						i.caracteristica__icon.icon-ok-circled
						span.caracteristica__description Solamente una característica


				.col-1-of-2.caja1
					.caracteristica__img
						img(src="img/pc-propio.png", alt="pc")

		section#precios
			.video
				video(autoplay, loop, muted)
					source(src="videos/Hello-World.mp4" type="video/mp4")
					source(src="videos/Hello-World.ogv" type="video/ogv")
					source(src="videos/Hello-World.webm" type="video/webm")
			.grupo
				.caja
					h3.section-title Nuestros planes
					h5.section-subtitle Grandes productos a precios adaptados a ti
			
			.grupo-precio
				.caja.precio
					h4.precio__title Basic
					.precio__cantidad 25

					.precio__caracteristicas
						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 10GB SSD

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description SSL 1 Dominio

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 3 Temas

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 3 Dominios

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 20 Emails

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description Soporte Prioridad 3

						button.precio__boton.boton Comprar

				.caja.precio
					h4.precio__title Standard
					.precio__cantidad 50

					.precio__caracteristicas
						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 50GB SSD

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description SSL 3 Dominios

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 5 Temas

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 5 Dominios

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 40 Emails

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description Soporte Prioridad 2

						button.precio__boton.boton Comprar

				.caja.precio
					h4.precio__title Premium
					.precio__cantidad 100

					.precio__caracteristicas
						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description Espacio Ilimitado

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description SSL Ilimitado

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 10 Temas

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description 10 Dominios

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description Emails Ilimitadas

						.caracteristica
							i.caracteristica__icon.icon-ok
							span.caracteristica__description Soporte Prioridad 1

						button.precio__boton.boton Comprar

		<!-- Hacer el apartado de "Nuestro equipo" si da tiempo -->

		section#formulario
			.grupo
				.caja
					h3.section-title Envíanos tus sugerencias
					form#form(action="#", method="post")
						.columna
							label(for="nombre") Nombre: 
							label(for="email") Email: 
							label(for="fuente") Cómo nos conociste?
							label(for="newsletter") ¿Newsletter?
							label(for="sugerencias") ¿Sugerencias? Escríbenos

						.columna
							input#nombre(type="text", name="nombre", placeholder="Nombre Completo", autofocus, required)
							input#email(type="email", name="email", placeholder="correo@domain.com", required)
							select(name="fuente" id="fuente")
								option(value="matriculados") Por alumno del centro
								option(value="familiar") Familiares
								option(value="internet") Buscadores (Google, Bing, etc)
								option(value="redes") Redes Sociales
							.noticia-cont
								input#newsletter(type="checkbox", name="newsletter")
								|Sí, quiero recibir noticias.
							textarea#sugerencias(name="sugerencias", cols="30", rows="5")
							<!-- Añado un "button" porque la animación con el "before" no es posible con un "input" -->
							button.btn-form.boton Enviar!



		footer#footer
			.grupo
				.caja.creditos
					span ProyectView &copy; 2019 | Privacy Policy

				.caja.sociales
					a.sociales__link(href='#')
						i.sociales__icon.icon-facebook-circled
					a.sociales__link(href='#')
						i.sociales__icon.icon-twitter-circled
					a.sociales__link(href='#')
						i.sociales__icon.icon-linkedin-circled