@charset "UTF-8";
/* Declaraciones de las fuentes*/
@font-face {
  font-family: Work_Sans;
  src: url(fonts/Work_Sans/WorkSans-Regular.ttf); }

@font-face {
  font-family: Work_Sans;
  src: url(fonts/Work_Sans/WorkSans-Bold.ttf);
  font-weight: bold; }

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Regular.ttf); }

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Italic.ttf);
  font-style: italic; }

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold; }

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic; }

/* Declaraciones de animaciones */
@-webkit-keyframes aaa {
  0% {
    top: 40%;
    left: -130%; }
  50% {
    top: -60%;
    left: 10%; }
  100% {
    top: -40%;
    left: -20%; } }
@keyframes aaa {
  0% {
    top: 40%;
    left: -130%; }
  50% {
    top: -60%;
    left: 10%; }
  100% {
    top: -40%;
    left: -20%; } }

/* Instrucciones BASE*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-size: 1.6rem;
  font-family: Roboto; }

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

@media all and (min-width: 300px) {
  .movil-5 {
    width: 5%; }
  .movil-10 {
    width: 10%; }
  .movil-15 {
    width: 15%; }
  .movil-20 {
    width: 20%; }
  .movil-25 {
    width: 25%; }
  .movil-30 {
    width: 30%; }
  .movil-35 {
    width: 35%; }
  .movil-40 {
    width: 40%; }
  .movil-45 {
    width: 45%; }
  .movil-50 {
    width: 50%; }
  .movil-55 {
    width: 55%; }
  .movil-60 {
    width: 60%; }
  .movil-65 {
    width: 65%; }
  .movil-70 {
    width: 70%; }
  .movil-75 {
    width: 75%; }
  .movil-80 {
    width: 80%; }
  .movil-85 {
    width: 85%; }
  .movil-90 {
    width: 90%; }
  .movil-95 {
    width: 95%; }
  .movil-100 {
    width: 100%; } }

@media all and (min-width: 768px) {
  .tablet-5 {
    width: 5%; }
  .tablet-10 {
    width: 10%; }
  .tablet-15 {
    width: 15%; }
  .tablet-20 {
    width: 20%; }
  .tablet-25 {
    width: 25%; }
  .tablet-30 {
    width: 30%; }
  .tablet-35 {
    width: 35%; }
  .tablet-40 {
    width: 40%; }
  .tablet-45 {
    width: 45%; }
  .tablet-50 {
    width: 50%; }
  .tablet-55 {
    width: 55%; }
  .tablet-60 {
    width: 60%; }
  .tablet-65 {
    width: 65%; }
  .tablet-70 {
    width: 70%; }
  .tablet-75 {
    width: 75%; }
  .tablet-80 {
    width: 80%; }
  .tablet-85 {
    width: 85%; }
  .tablet-90 {
    width: 90%; }
  .tablet-95 {
    width: 95%; }
  .tablet-100 {
    width: 100%; } }

@media all and (min-width: 1025px) {
  .pc-5 {
    width: 5%; }
  .pc-10 {
    width: 10%; }
  .pc-15 {
    width: 15%; }
  .pc-20 {
    width: 20%; }
  .pc-25 {
    width: 25%; }
  .pc-30 {
    width: 30%; }
  .pc-35 {
    width: 35%; }
  .pc-40 {
    width: 40%; }
  .pc-45 {
    width: 45%; }
  .pc-50 {
    width: 50%; }
  .pc-55 {
    width: 55%; }
  .pc-60 {
    width: 60%; }
  .pc-65 {
    width: 65%; }
  .pc-70 {
    width: 70%; }
  .pc-75 {
    width: 75%; }
  .pc-80 {
    width: 80%; }
  .pc-85 {
    width: 85%; }
  .pc-90 {
    width: 90%; }
  .pc-95 {
    width: 95%; }
  .pc-100 {
    width: 100%; } }

#header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); }
  #header::before {
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    display: block;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh; }

.principal > * {
  margin-top: 2rem; }

.principal__grupo {
  width: 100vw;
  height: 80vh; }

.principal__caja {
  position: relative;
  /* Para posicionar el div en el centro */
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center; }

.principal__logo {
  margin: 0 auto; }
  .principal__logo__img {
    -o-object-fit: cover;
    object-fit: cover; }

.principal__subtitulo {
  font-family: Work_Sans;
  text-transform: uppercase;
  color: #fff; }

.principal__botones__boton {
  position: relative;
  width: 15rem;
  height: 5rem;
  color: #fff;
  font-weight: 600;
  background: none;
  padding: 1rem;
  border: 0.3rem solid #355bd5;
  outline: none;
  cursor: pointer;
  font-family: Roboto;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  margin: 1rem;
  overflow: hidden; }
  .principal__botones__boton:hover::before {
    -webkit-animation: aaa 0.7s 1;
    animation: aaa 0.7s 1;
    top: -40%;
    left: -20%; }
  .principal__botones__boton::before {
    content: "";
    position: absolute;
    width: 190%;
    height: 300%;
    background: #355bd5;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 40%;
    left: -130%;
    z-index: -1; }
  .principal__botones__boton:active {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.titulo {
  display: none; }

.menu {
  width: 100%; }
  .menu__boton {
    display: none; }
    .menu__boton__label {
      background: rgba(53, 91, 213, 0.8);
      display: block;
      width: 5rem;
      height: 5rem;
      text-align: center; }
      .menu__boton__label i {
        color: #fff;
        font-size: 2.6rem;
        /* Para que el icono se centre */
        position: relative;
        top: calc(50% - 10px); }
      .menu__boton__label:hover {
        cursor: pointer;
        background: #355bd5; }
      @media screen and (min-width: 1025px) {
        .menu__boton__label {
          display: none; } }
  .menu__contenedor {
    background: rgba(53, 144, 213, 0.7);
    padding: 0; }
  .menu__item {
    list-style-type: none;
    text-align: center;
    margin-top: 0.1rem; }
    .menu__item:hover {
      background: #355bd5;
      color: #fff; }
  .menu__link {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 2rem; }
  @media screen and (max-width: 1024px) {
    .menu {
      /* Para que el menú se oculte en los modos movil y tablet */
      position: absolute;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      /* Para que el menú se oculte */
      left: -100%;
      z-index: 1;
      /* Para que el menú aparezca cuando el botón check esté en estado checked */ }
      .menu__caja {
        position: relative; }
      .menu__boton:checked ~ .menu {
        left: 0; } }

@media screen and (min-width: 1025px) {
  .titulo {
    display: initial; }
  .logo-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10%; }
  .menu {
    margin-left: 0; }
    .menu__contenedor {
      margin-top: 3rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .menu__item {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      border-top: 0; } }

.galeria__title {
  text-align: center;
  font-size: 4rem;
  padding: 4rem; }

.galeria__contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, 20rem);
  grid-gap: 1rem; }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .galeria__contenedor {
      -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(auto-fill, 20rem);
      grid-gap: 1rem; } }
  @media screen and (min-width: 1025px) {
    .galeria__contenedor {
      -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(auto-fill, 20rem);
      grid-gap: 1rem; } }

/* Keyframes de la animación */
@-webkit-keyframes crt-me {
  0% {
    clip: rect(31px, 9999px, 94px, 0); }
  10% {
    clip: rect(112px, 9999px, 76px, 0); }
  20% {
    clip: rect(85px, 9999px, 77px, 0); }
  30% {
    clip: rect(27px, 9999px, 97px, 0); }
  40% {
    clip: rect(64px, 9999px, 98px, 0); }
  50% {
    clip: rect(61px, 9999px, 85px, 0); }
  60% {
    clip: rect(99px, 9999px, 114px, 0); }
  70% {
    clip: rect(34px, 9999px, 115px, 0); }
  80% {
    clip: rect(98px, 9999px, 129px, 0); }
  90% {
    clip: rect(43px, 9999px, 96px, 0); }
  100% {
    clip: rect(82px, 9999px, 64px, 0); } }
@keyframes crt-me {
  0% {
    clip: rect(31px, 9999px, 94px, 0); }
  10% {
    clip: rect(112px, 9999px, 76px, 0); }
  20% {
    clip: rect(85px, 9999px, 77px, 0); }
  30% {
    clip: rect(27px, 9999px, 97px, 0); }
  40% {
    clip: rect(64px, 9999px, 98px, 0); }
  50% {
    clip: rect(61px, 9999px, 85px, 0); }
  60% {
    clip: rect(99px, 9999px, 114px, 0); }
  70% {
    clip: rect(34px, 9999px, 115px, 0); }
  80% {
    clip: rect(98px, 9999px, 129px, 0); }
  90% {
    clip: rect(43px, 9999px, 96px, 0); }
  100% {
    clip: rect(82px, 9999px, 64px, 0); } }

.principal__subtitulo__contenedor {
  position: relative; }

.glitched {
  width: 80%;
  margin: 2rem auto;
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  color: #355bd5;
  font-weight: 900; }

.glitch-window {
  position: absolute;
  top: -2rem;
  left: -.2rem;
  width: 100%;
  color: #355bd5;
  text-shadow: 2px 0 #89bee7, -1px 0 yellow, -2px 0 red;
  overflow: hidden;
  animation: crt-me 2500ms infinite linear alternate-reverse; }
