@charset "UTF-8";
/* Declaraciones de las fuentes*/
@font-face {
  font-family: Work_Sans;
  src: url(fonts/Work_Sans/WorkSans-Regular.ttf); }

@font-face {
  font-family: Work_Sans;
  src: url(fonts/Work_Sans/WorkSans-Bold.ttf);
  font-weight: bold; }

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Regular.ttf); }

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Italic.ttf);
  font-style: italic; }

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold; }

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic; }

/* Declaraciones de animaciones */
@-webkit-keyframes aaa {
  0% {
    top: 40%;
    left: -130%; }
  50% {
    top: -60%;
    left: 10%; }
  100% {
    top: -40%;
    left: -20%; } }
@keyframes aaa {
  0% {
    top: 40%;
    left: -130%; }
  50% {
    top: -60%;
    left: 10%; }
  100% {
    top: -40%;
    left: -20%; } }

/* Instrucciones BASE*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-size: 1.6rem;
  font-family: Roboto; }

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

@media screen and (min-width: 1025px) {
  [class^="col-"] {
    float: left;
    display: inline-block; }
  [class^="col-"]:not(:last-child) {
    margin-right: 4rem; }
  .row .col-1-of-2 {
    width: calc((100% - 4rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*4rem)/3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 4rem)/3) + 4rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3*4rem)/4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 4rem)/4) + 4rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3*4rem)/4) + 8rem); }
  .row .col-1-of-5 {
    width: calc((100% - 4*4rem)/5); }
  .row {
    clear: both;
    overflow: hidden; } }

/* Estilo del parallax */
html {
  /*Necesario para el PARALLAX*/
  height: 100%;
  /*Si el contenido se desborda, que se oculte el contenido desbordado*/
  overflow: hidden; }

body {
  /*PARALLAX: Añade perspectiva al elemento 3D, es para decir qué tan lejos está del usuario*/
  -webkit-perspective: 1px;
  perspective: 1px;
  /*PARALLAX: Para que los elementos hijos preserven la transformación 3D*/
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  /*Necesario para el PARALLAX*/
  height: 100%;
  /*PARALLAX: Si el contenido se desborda a izq o der, que se oculte el contenido desbordado*/
  overflow-x: hidden;
  /*PARALLAX: Si el contenido se desborda arriba o abajo, que se acceda al contenido desbordado con la rueda del ratón*/
  overflow-y: scroll; }

.parallax {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: inherit;
  -moz-transform-style: inherit;
  -webkit-transform-style: inherit;
  overflow: hidden; }

.parallax::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateZ(-1px) scale(2);
  -moz-transform: translateZ(-1px) scale(2);
  -webkit-transform: translateZ(-1px) scale(2);
  z-index: -1;
  width: 100vw;
  height: 100vh; }

/* Estilo de los títulos de las secciones */
.section-title {
  text-align: center;
  margin: 4rem 5rem;
  font-family: Work_Sans;
  font-weight: 700;
  font-size: 3rem;
  border-bottom: 0.1rem solid #355bd5; }

.section-subtitle {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 1rem; }

/* Estilo de los apartados de las secciones */
.apartado {
  margin: 2rem 1rem;
  padding: 2rem;
  border-radius: 1rem;
  color: #071133;
  background: rgba(192, 192, 192, 0.5); }
  .apartado i {
    color: #355bd5; }
  .apartado > h3, .apartado > span {
    color: #071133; }

/* Estilo de los botones */
.boton {
  position: relative;
  width: 15rem;
  height: 5rem;
  font-weight: 600;
  background: none;
  padding: 1rem;
  border: 0.3rem solid #355bd5;
  outline: none;
  cursor: pointer;
  font-family: Roboto;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin: 1rem;
  overflow: hidden; }
  .boton::before {
    content: "";
    position: absolute;
    width: 190%;
    height: 300%;
    background: #355bd5;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 40%;
    left: -130%;
    z-index: -1; }
  .boton:hover::before {
    -webkit-animation: aaa 0.7s 1;
    animation: aaa 0.7s 1;
    top: -40%;
    left: -20%; }
  .boton:active {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

#header {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden; }
  #header .parallax::before {
    background-image: url(../img/bg2.jpg); }
  #header .principal > * {
    margin-top: 2rem; }
  #header .principal__grupo {
    width: 100vw;
    height: 80vh; }
  #header .principal__caja {
    position: relative;
    /* Para posicionar el div en el centro */
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center; }
  #header .principal__logo {
    width: 40%;
    margin: 0 auto; }
    #header .principal__logo__img {
      -o-object-fit: cover;
      object-fit: cover; }
  #header .principal__subtitulo {
    font-family: Work_Sans;
    text-transform: uppercase; }
  #header .principal__botones__boton {
    color: #fff;
    font-size: 1.5rem; }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    #header .principal__logo {
      width: 30%; } }
  @media screen and (min-width: 1025px) {
    #header .principal__logo {
      width: 20%;
      max-width: 30rem; } }

.titulo {
  display: none; }

.menu {
  width: 100%; }
  .menu__boton {
    display: none; }
    .menu__boton__label {
      background: rgba(53, 91, 213, 0.8);
      display: block;
      width: 5rem;
      height: 5rem;
      text-align: center; }
      .menu__boton__label i {
        color: #fff;
        font-size: 2.6rem;
        /* Para que el icono se centre */
        position: relative;
        top: calc(50% - 10px); }
      .menu__boton__label:hover {
        cursor: pointer;
        background: #355bd5; }
      @media screen and (min-width: 1025px) {
        .menu__boton__label {
          display: none; } }
  .menu__contenedor {
    background: rgba(53, 144, 213, 0.7);
    padding: 0; }
  .menu__item {
    list-style-type: none;
    text-align: center;
    margin-top: 0.1rem; }
    .menu__item:hover {
      background: #355bd5;
      color: #fff; }
  .menu__link {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 2rem; }
  @media screen and (max-width: 1024px) {
    .menu {
      /* Para que el menú se oculte en los modos movil y tablet */
      position: absolute;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      /* Para que el menú se oculte */
      left: -100%;
      z-index: 1;
      /* Para que el menú aparezca cuando el botón check esté en estado checked */ }
      .menu__caja {
        position: relative; }
      .menu__boton:checked ~ .menu {
        left: 0; } }

@media screen and (min-width: 1025px) {
  .titulo {
    display: initial;
    text-align: center;
    padding: 3rem 0 1rem 5%;
    font-size: 3rem;
    color: #fff;
    border-bottom: 0.2rem solid #355bd5; }
  .logo-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10%; }
  .menu {
    margin-left: 0; }
    .menu__contenedor {
      margin-top: 3rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .menu__item {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      border-top: 0; } }

.galeria__title {
  text-align: center;
  font-size: 4rem;
  padding: 4rem; }

.galeria__contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, 20rem);
  grid-gap: 1rem; }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .galeria__contenedor {
      -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(auto-fill, 20rem);
      grid-gap: 1rem; } }
  @media screen and (min-width: 1025px) {
    .galeria__contenedor {
      -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(auto-fill, 20rem);
      grid-gap: 1rem; } }

/* Keyframes de la animación */
@-webkit-keyframes crt-me {
  0% {
    clip: rect(31px, 9999px, 94px, 0); }
  10% {
    clip: rect(112px, 9999px, 76px, 0); }
  20% {
    clip: rect(85px, 9999px, 77px, 0); }
  30% {
    clip: rect(27px, 9999px, 97px, 0); }
  40% {
    clip: rect(64px, 9999px, 98px, 0); }
  50% {
    clip: rect(61px, 9999px, 85px, 0); }
  60% {
    clip: rect(99px, 9999px, 114px, 0); }
  70% {
    clip: rect(34px, 9999px, 115px, 0); }
  80% {
    clip: rect(98px, 9999px, 129px, 0); }
  90% {
    clip: rect(43px, 9999px, 96px, 0); }
  100% {
    clip: rect(82px, 9999px, 64px, 0); } }
@keyframes crt-me {
  0% {
    clip: rect(31px, 9999px, 94px, 0); }
  10% {
    clip: rect(112px, 9999px, 76px, 0); }
  20% {
    clip: rect(85px, 9999px, 77px, 0); }
  30% {
    clip: rect(27px, 9999px, 97px, 0); }
  40% {
    clip: rect(64px, 9999px, 98px, 0); }
  50% {
    clip: rect(61px, 9999px, 85px, 0); }
  60% {
    clip: rect(99px, 9999px, 114px, 0); }
  70% {
    clip: rect(34px, 9999px, 115px, 0); }
  80% {
    clip: rect(98px, 9999px, 129px, 0); }
  90% {
    clip: rect(43px, 9999px, 96px, 0); }
  100% {
    clip: rect(82px, 9999px, 64px, 0); } }

.principal__subtitulo__contenedor {
  position: relative; }

.glitched {
  width: 80%;
  margin: 2rem auto;
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  color: #355bd5;
  font-weight: 900; }

.glitch-window {
  position: absolute;
  top: -2rem;
  left: -.2rem;
  width: 100%;
  color: #355bd5;
  text-shadow: 2px 0 #89bee7, -2px 0 yellow, -4px 0 red;
  overflow: hidden;
  animation: crt-me 2500ms infinite linear alternate-reverse; }

#servicios {
  background: rgba(0, 0, 0, 0.5); }
  #servicios .parallax::before {
    background-image: url(../img/gallery/bg8.jpg); }
  #servicios .section-title {
    color: white; }
  #servicios .servicio {
    text-align: center; }
    #servicios .servicio > * {
      margin: 2rem 1rem; }
    #servicios .servicio__description {
      color: #fff; }
    #servicios .servicio__icon {
      font-size: 3.5rem; }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    #servicios .grupo {
      padding-top: 10%;
      padding-bottom: 10%; }
    #servicios .row {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (2fr)[2];
      grid-template-columns: repeat(2, 2fr);
      grid-template-rows: repeat(auto-fill); } }
  @media screen and (min-width: 768px) {
    #servicios .grupo {
      padding-top: 5%;
      padding-bottom: 5%; } }

#conocenos > .grupo {
  margin: 10rem 1rem; }

#conocenos .nosotros .caracteristica__icon, #conocenos .nosotros .caracteristica__title {
  font-size: 1.8rem; }

#conocenos .nosotros .caracteristica__title {
  font-weight: bold; }

#conocenos .mision .section-title {
  margin-bottom: 2rem; }

#conocenos .mision .caracteristica {
  margin: 1rem; }
  #conocenos .mision .caracteristica__icon {
    font-size: 2rem; }
  #conocenos .mision .caracteristica__description {
    font-size: 1.8rem;
    font-weight: bold; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #conocenos .grupo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr); }
  #conocenos .caja1 {
    position: relative; }
    #conocenos .caja1 .caracteristica__img {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); } }

#precios {
  color: #fff;
  background: rgba(7, 17, 51, 0.3);
  position: relative;
  overflow: hidden; }
  #precios .video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; }
    #precios .video video {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  #precios .section-title {
    margin-top: 5rem;
    margin-bottom: 2rem; }
  #precios .precio {
    position: relative;
    background: rgba(192, 192, 192, 0.8);
    width: 90%;
    max-width: 40rem;
    height: 50rem;
    margin: 5rem auto;
    padding: 2rem;
    border: 0.1rem solid #355bd5;
    color: #355bd5; }
    #precios .precio > * {
      margin: 1rem 0; }
    #precios .precio__title, #precios .precio__cantidad {
      font-size: 3rem;
      text-align: center; }
    #precios .precio__cantidad {
      font-weight: bold;
      padding-bottom: 1rem;
      border-bottom: 0.1rem solid #355bd5; }
      #precios .precio__cantidad:before {
        content: "$";
        font-size: 1.6rem; }
      #precios .precio__cantidad:after {
        content: "/mes";
        font-size: 1.6rem; }
    #precios .precio__caracteristicas {
      position: absolute;
      color: #fff;
      width: auto;
      margin: 2rem auto;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
      #precios .precio__caracteristicas > * {
        padding: 1rem; }
      #precios .precio__caracteristicas .caracteristica {
        text-align: left; }
        #precios .precio__caracteristicas .caracteristica__icon {
          color: #35d7a4; }
    #precios .precio:hover {
      -webkit-box-shadow: 0px 21px 51.3px 5.7px rgba(23, 31, 44, 0.15);
      box-shadow: 0px 21px 51.3px 5.7px rgba(23, 31, 44, 0.15); }
    #precios .precio__boton {
      color: #355bd5;
      font-size: 2rem; }
      #precios .precio__boton:hover {
        color: #fff; }
  @media screen and (min-width: 768px) {
    #precios .grupo-precio {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr); } }

#formulario {
  width: 90%;
  margin: 0 auto; }
  #formulario #form {
    padding: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    background: rgba(192, 192, 192, 0.5); }
    #formulario #form .columna {
      text-align: center; }
      #formulario #form .columna > * {
        width: 80%;
        display: block;
        margin-bottom: 1rem; }
      #formulario #form .columna .noticia-cont {
        text-align: left; }
    #formulario #form .btn-form {
      color: #355bd5;
      width: 15rem; }
      #formulario #form .btn-form:hover {
        color: #fff; }
    @media screen and (min-width: 768px) {
      #formulario #form {
        -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr; } }

#footer {
  background: #355bd5;
  margin-top: 1rem;
  padding: 2rem; }
  #footer > * {
    text-align: center; }
  #footer .creditos span {
    color: #fff; }
  #footer .sociales {
    padding: 1rem; }
    #footer .sociales__icon {
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      color: #fff;
      font-size: 4rem;
      margin: .5rem; }
      #footer .sociales__icon:hover {
        color: #c0c0c0;
        /* No se aplica */
        /*transform: scale(1.25);*/ }
  @media screen and (min-width: 768px) {
    #footer .creditos, #footer .sociales {
      display: inline-block;
      width: 40%; }
    #footer .creditos {
      text-align: left; }
    #footer .sociales {
      text-align: right; } }
