/* Declaraciones de las fuentes*/

@font-face {
   font-family: Work_Sans;
   src: url(fonts/Work_Sans/WorkSans-Regular.ttf);
}

@font-face {
   font-family: Work_Sans;
   src: url(fonts/Work_Sans/WorkSans-Bold.ttf);
   font-weight: bold;
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto/Roboto-Italic.ttf);
	font-style: italic;
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto/Roboto-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto/Roboto-BoldItalic.ttf);
	font-weight: bold;
	font-style: italic;
}

/* Declaraciones de animaciones */

@keyframes aaa {
	0% {
		top: 40%;
		left: -130%;
	}50%{
		top: -60%;
		left: 10%;
	}100%{
		top: -40%;
		left: -20%;
	}
}

/* Instrucciones BASE*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	font-family: $font-defecto;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}