#conocenos {
	&>.grupo {
		margin-top: 10rem;
	}

	.nosotros {
		.caracteristica {
			&__icon, &__title {
				font-size: 1.8rem;
			}

			&__title {
				font-weight: bold;
			}
		}
	}

	.mision {
		.section-title {
			margin-bottom: 2rem;
		}

		.caracteristica {
			margin: 1rem;
			// text-align: center;

			&__icon {
				font-size: 2rem;
			}

			&__description {
				font-size: 1.8rem;
				font-weight: bold;
			}
		}
	}

	@include desde-hasta(tablet, pc) {
		.grupo {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

		.caja1 {
			position: relative;
			.caracteristica__img {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}