#formulario {
	width: 90%;
	margin: 0 auto;
	#form {
		padding: 2rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		background: rgba($gris,.5);

		.columna {
			text-align: center;

			&>* {
				width: 80%;
				display: block;
				margin-bottom: 1rem;
			}

			.noticia-cont {
				text-align: left;
			}
		}

		.btn-form {
			color: $azul3;
			width: 15rem;

			&:hover {
				color: $blanco;
			}
		}

		@include desde(tablet) {
			grid-template-columns: 1fr 2fr;			
		}
	}
}