#header {
	width: 100vw;
	height: 100vh;
	background: rgba(#000, 0.7);
	overflow: hidden;

	.parallax::before {
		background-image: url(../img/bg2.jpg);
	}
}

.principal {
	&>* {
		margin-top: 2rem;
	}

	&__grupo {
		width: 100vw;
		height: 80vh;
	}

	&__caja {
		position: relative;
		/* Para posicionar el div en el centro */
		top: 50%;
		transform: translateY(-50%);
		text-align: center;


	}

	&__logo {
		margin: 0 auto;
		&__img {
			object-fit: cover;
		}
	}

	&__subtitulo {
		font-family: $font-titulo;
		text-transform: uppercase;
		color: $blanco;
	}

	&__botones {

		&__boton {
			color: $blanco;
			font-size: 1.5rem;
		}
	}
}