/* Estilo de los títulos de las secciones */
.section-title {
    text-align: center;
    margin: 4rem 5rem;
    font-family: $font-titulo;
    font-weight: 700;
    font-size: 3rem;
    border-bottom: 0.1rem solid $azul3;
}

.section-subtitle {
	text-align: center;
	font-size: 2rem;
	margin: 2rem 1rem;
}

/* Estilo de los apartados de las secciones */
.apartado {
	margin: 2rem 1rem;
	padding: 2rem;
	border-radius: 1rem;
	color: $negro;
	background: rgba($gris, 0.5);

	& i {
		color: $azul3;
	}

	&>h3, &>span {
		color: $negro;
	}
}

/* Estilo de los botones */
.boton {
	position: relative;
	width: 15rem;
	height: 5rem;
	font-weight: 600;
	background: none;
	padding: 1rem;
	border: .3rem solid $azul3;
	outline: none;
	cursor: pointer;
	font-family: $font-defecto;
	transition: 0.5s;
	margin: 1rem;
	overflow: hidden;

	&::before {
		content:"";
		position: absolute;
		width: 190%;
		height: 300%;
		background: $azul3;
		transform: rotate(45deg);
		top: 40%;
		left: -130%;
		z-index: -1;
	}

	&:hover {
		&::before {
			animation: aaa 0.7s 1;
			top: -40%;
			left: -20%;
		}
	}

	&:active {
		transform: scale(1.1);
	}
}