/* Estilo de los títulos de las secciones */
.section-title {
    text-align: center;
    margin: 4rem 5rem;
    font-family: $font-titulo;
    font-weight: 700;
    font-size: 3rem;
    border-bottom: 0.1rem solid $azul3;
}

.section-subtitle {
	text-align: center;
	font-size: 2rem;
	margin: 2rem 1rem;
}

/* Estilo de los apartados de las secciones */
.apartado {
	margin: 2rem 1rem;
	padding: 2rem;
	border-radius: 1rem;
	color: $negro;
	background: rgba($gris, 0.5);

	& i {
		color: $azul3;
	}

	&>h3, &>span {
		color: $negro;
	}
}

/* Estilo de los botones */

