#servicios {
	background: rgba(#000, 0.5);
	overflow: hidden;

	.parallax::before {
		background-image: url(../img/gallery/bg8.jpg);
	}

	.section-title {
		color: $blanco;
	}

	.servicio {
		font-size: 1.6rem;

		&>* {
			margin: 2rem 1rem;
		}

		text-align: center;

		&__description {
			color: $blanco;
		}

		&__icon {
			font-size: 3.5rem;
		}
	}

	

	@include desde-hasta(tablet, pc) {
		.grupo {
			padding-top: 10%;
			padding-bottom: 10%;
		}

		.row {
			display: grid;
			grid-template-columns: repeat(2, 2fr);
			grid-template-rows: repeat(auto-fill);
		}
	}

	@include desde(tablet) {
		.grupo {
			padding-top: 5%;
			padding-bottom: 5%;
		}
	}
}