// Variables de mi web
	
	// Paleta de colores
		$azul3: #355bd5;
		$azul2: #3590d5;
		$azul1: #89bee7;
		$blanco: #fff;
		$gris: #858585;

	// Variables Responsive
		$sizes: (
			movil: 300px,
			tablet: 768px,
			pc: 1025px
		);

	// Variables Font-family
		$font-defecto: Roboto;
		$font-titulo: Work_Sans;